@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nerko+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*header outer*/
.header-wrapper{
    width: 100%;
    height: 80px;
    justify-content: center;
    display: flex;
    border-bottom: 1px dotted rgba(45, 52, 54,1.0);
    margin-bottom: 20px;
}

.header-inner{
    width: 70%;
    height: 80px;
    display: flex;
    
}

.logo-wrapper{
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
}

img{
    width: 90%;
    height: 70px;
}

.nav-wrapper{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-wrapper > ul{
    list-style: none;
    display: flex;
}

.nav-wrapper > ul > li{
    font-size: 15px;
    margin-right: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-wrapper > ul > li:last-child{
    margin-right: 0;
}

.nav-wrapper > ul > li:hover{
    color: red;
    cursor: pointer;
}
/*header outer*/


/*slider outer*/

.slider-container{
    width: 100%;
    height: 600px;
    display: flex;
}

.slider-inner{
    flex: 1;
    
}

.left-slider{
    display: flex;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/young-women-with-paper-bags_23-2147669912.jpg?t=st=1725657753~exp=1725661353~hmac=2e27aa46a13b3b6bec7b2d9c33ff57620fa9515f4f5a429252239b0bc71f3221&w=996);
    background-size: cover;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.left-side-content-wrapper{
    margin-left: 20px;
    padding: 20px;
    position: relative;
    color: white;
    font-weight: 800px;
}

.left-side-content-wrapper > h1{
    font-size: 50px;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

.order-button{
    margin-top: 35px;
    background: none;
    border: 2px solid white;
    padding: 10px 16px;
    cursor: pointer;
    color: white;
}

.order-button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
 
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(99, 110, 114,0.5);
    position: absolute;
    
}

.right-slider{
 display: flex;
 flex-direction: column;
}

.slider-right-wrapper{
    flex: 1;
    display: flex;
    
}

.slider-right-slot{
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/lady-trousers-blouse-keeps-sequins-dress-woman-posing-with-packages-while-shopping-pink-background_197531-17607.jpg?t=st=1725740741~exp=1725744341~hmac=23318b967fb475cbf0a118f8730aefbbfcc2d75790e83689e9a0fd86fc42e739&w=360);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.data-wrapper{
    width: 87%;
    height: 87%;
    background-color: rgba(52, 73, 94,0.9);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position:relative;
    z-index: 2;
    display: none;
}

.slider-right-slot:hover .data-wrapper{
    display: flex!important;
}

.data-wrapper > h2{
    margin-bottom: 10px;
    font-size: 30px;
}
/*slider outer*/


/*product outer*/

.product-container{
    width: 100%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-inner{
    width: 80%;
    height: 300px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 30%;
    border: 1px solid red;
}
/*product outer*/