@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*header outer*/
.header-wrapper{
    width: 100%;
    height: 80px;
    justify-content: center;
    display: flex;
    border-bottom: 1px dotted rgba(45, 52, 54,1.0);
    margin-bottom: 20px;
}

.header-inner{
    width: 70%;
    height: 80px;
    display: flex;
    
}

.logo-wrapper{
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
}

img{
    width: 90%;
    height: 70px;
}

.nav-wrapper{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-wrapper > ul{
    list-style: none;
    display: flex;
}

.nav-wrapper > ul > li{
    font-size: 15px;
    margin-right: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-wrapper > ul > li:last-child{
    margin-right: 0;
}

.nav-wrapper > ul > li:hover{
    color: red;
    cursor: pointer;
}
/*header outer*/


/*slider outer*/

.slider-container{
    width: 100%;
    height: 600px;
    display: flex;
}

.slider-inner{
    flex: 1;
    
}

.left-slider{
    display: flex;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/young-women-with-paper-bags_23-2147669912.jpg?t=st=1725657753~exp=1725661353~hmac=2e27aa46a13b3b6bec7b2d9c33ff57620fa9515f4f5a429252239b0bc71f3221&w=996);
    background-size: cover;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.left-side-content-wrapper{
    margin-left: 20px;
    padding: 20px;
    position: relative;
    color: white;
    font-weight: 800px;
}

.left-side-content-wrapper > h1{
    font-size: 50px;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

.order-button{
    margin-top: 35px;
    background: none;
    border: 2px solid white;
    padding: 10px 16px;
    cursor: pointer;
    color: white;
}

.order-button:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
 
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(99, 110, 114,0.5);
    position: absolute;
    
}

.right-slider{
 display: flex;
 flex-direction: column;
}

.slider-right-wrapper{
    flex: 1;
    display: flex;
    
}

.slider-right-slot{
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/lady-trousers-blouse-keeps-sequins-dress-woman-posing-with-packages-while-shopping-pink-background_197531-17607.jpg?t=st=1725740741~exp=1725744341~hmac=23318b967fb475cbf0a118f8730aefbbfcc2d75790e83689e9a0fd86fc42e739&w=360);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.data-wrapper{
    width: 87%;
    height: 87%;
    background-color: rgba(52, 73, 94,0.9);
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position:relative;
    z-index: 2;
    display: none;
}

.slider-right-slot:hover .data-wrapper{
    display: flex!important;
}

.data-wrapper > h2{
    margin-bottom: 10px;
    font-size: 30px;
}
/*slider outer*/


/*product outer*/

.product-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-inner{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.product-image-context{
      
    flex: 1;
    background-image: url(https://img.freepik.com/free-photo/basic-green-shirt-men-rsquo-s-fashion-apparel-studio-shoot_53876-101197.jpg?t=st=1726591873~exp=1726595473~hmac=f6cbc2ab93c640adb535e237cc684315d6b2800d7734bd708c18ea80cdc38ee4&w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.product-image-context:hover .hidden-items-context{
    bottom: 5px;
}

.product-details-context{
    height: 100px;
    display: flex;
    flex-direction: column;
}

.name-rate-container, .price-container{ 
    display: flex;
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.hidden-items-context{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -60px;
}

.hidden-items-inner{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.hidden-items{
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*product outer*/

/*about outer*/

.about-container{
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    border-top: dotted;
    border-color: rgba(52, 73, 94,0.5);
    
}

.about-inner{
    width: 80%;
    height: auto;
    min-height: 500px;
    display: flex;
}

.about-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about{
    flex: 1;
}

.about-left h1{
    margin-bottom: 25px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-left p{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.about-left button{
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid black;
}

.about-left button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
/*about outer*/

/*social outer*/

.social-container{
    width: 100%;
    height: auto;
    display: flex;
    padding: 80px 0px 80px 0px;
    justify-content: center;
    border-top: dotted;
    border-bottom: dotted;
    border-color: rgba(52, 73, 94,0.5);
    
}

.social-inner{
    width: 80%;
    height: auto;
}

.social-inner h1{
   margin-bottom: 10px;
   font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.social-slider{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
}

.social-elements{
    flex: 1;
    background-image: url(https://img.freepik.com/premium-photo/beautiful-young-woman-posing-smiling-confident-mood_1146893-1129.jpg?w=360);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.social-elements:hover .social-shadow{
    display: block;
}
.social-shadow{
    background-color: rgba(44, 62, 80,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
/*social outer*/

/*footer*/

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-inner{
    width: 80%;
    height: auto;
    display: flex;
}

.footer-slot{
    flex: 1;
    padding: 15px;
}

.footer-slot h3{
    margin-bottom: 25px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    color: white;
}

.footer-slot ul li{
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;

}

.line{
    width: 80%;
    height: 1px;
    background-color: white;
    margin-top: 50px;
}
/*footer*/